@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');

/*body {
    background-color:yellow;
}
h1 {
    color:blue;
    font-size:88px;
}

h2 {
    color: green;
    font-size:30px;
}*/

/**{
    padding:20px;
}

body {
    background-color: rgb(235, 235, 235);
}

.vermelho {
    color: red;
}

.center {
    text-align: center;
}

.fonte-30 { Posso dar o nome que eu quiser para a classe
    font-size: 30px;
}

#teste {
    color: blue;
    background:yellow;
}

h1, p { Posso agrupar as duas tags, pois possuem itens em comum
    color:green;
    text-align:center;
}

.fonte-30, .center { Posso agrupar as duas tags, pois possuem itens em comum
    text-align: left;
}*/

body {
    background-color: white;
    /*overflow-y:hidden;
    overflow-x:hidden; omite barra de rolagem, tira barra de rolam x e y */
}

h1 {
    color: white;
    border-left: 5px dashed rgb(255, 4, 4); /*Bordas e outros elementos em uma só linha*/
    border-top: 5px dashed rgb(4, 244, 67);
    border-right: 5px solid rgb(43, 3, 254);
    border-bottom: 5px solid rgb(255, 117, 20);
    border-radius: 30px; /*Borda arredondada*/
    text-align: center;
    background: black;

    margin-top: 30px; /*Margem, afasta*/
    margin-bottom: 150px;
    margin-left: 20px;
    margin-right: 70px;

    margin: 30px, 70px, 150px, 20px;/*aceita em uma linha nesta ordem: top, right, bottom, left*/

    padding-top:50px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right: 40px;

    padding: 50px, 40px, 20px, 20px; /*aceita em uma só linha*/
    padding: 50px; /*Assim vale para todos*/

    letter-spacing: -2px;

    font-family: "Londrina Sketch", sans-serif;

    /*padding é parecido com margin, mas é da parte de dentro.
    Serve para criar botões estilizados*/
}   

p {
    color: red;
    margin-bottom: 60px;
    margin-left:20px;
    margin-right: 100px;

    text-align: center; /*Os mais utilizados são: center, left, right, justify*/
    /*direction: rtl; letras invertidas*/
    /*unicode-bidi:bidi-override; /*de rás para frente palavras. no html tem isso tbm*/
    text-decoration:none; /*tracejado. Sublinado: underline*/
    text-transform: none; /*Maiúscula; minúscula: lower. A primeira letra em maiúscula: capitalize*/
    text-indent:60px; /*Efeito de parágrafo*/
    letter-spacing:5px; /*Separa as letras horizontal, espaçamento*/
    line-height:2; /*Espaçamento de altura */
    word-spacing: 20px; /*Espaçamento de palavras px*/

    font-family: "Indie Flower", cursive; /*Tipos de fontes que vem por padrão. Outras precisa importar*/
    font-size: 20px; /*Google fonts para fontes gratuitas. Fontes possuem direitos*/
    font-style: none; /*Estilo da fonte: italic, obliquo*/
    font-weight: 700; /*Grossura da fonte. Pode-se usar bold*/
}

.exemplo-back {
    height: 100px;
    /*background-color: gray; Cor sólida*/ 
    /*background-image: url("../img/city.jpg");
    background-size: cover; /*100%*. Tamanho da imagem
    background-repeat: no-repeat; /*Não repete background
    background-position: center;*/
    background: gray url("../img/city.jpg") no-repeat center; /*Passando vários elementos de backgorund todos. Poupar código*/ 
    background-size: cover;
    margin-bottom: 100px

    /*Basicamente passa-se imagem ou color e define posições, tamanhos, efeitos etc.*/
}

#botao {
    border-radius: 20px;
    margin-left:33%;
    background: green;
    color:white;
    padding: 30px;
    text-decoration: none;
}

#botao:hover { /*Sobreescreve, efeito visual ao passar o mouse*/
    background: blue;
}

.teste {
    max-width:800px; /*ideal para dispositivos móveis, responsividade*/
    height:150px;
    background: cyan;
}

a.botao1 { /*Só ocorre com link nesta classe (seletor específico) */
    background: darkgreen;
    color:white;
    padding:10px;
    text-decoration: none;
    border:4px solid greenyellow;
    border-radius: 5px;
}

a.botao1:hover {
    background: rgb (6, 211, 6);
    padding:12px;
    border:4px solid rgb(8, 129, 6);
    
}

a.botao2 {
    text-decoration: none;
    padding:10px;
    border: 5px double blue;
    color:blue;
}

a.botao2:hover {
    text-decoration: underline;
    padding: 8px;
    background: blue;
    color:white;  
}

a.botao3 {
    color: black;
    text-decoration: none;
}

a.botao3:hover {
    border-bottom:5px solid red;
}

a.botao4 {
    text-decoration:none;
    color:blue;
    font-size: 18px;
}

a.botao4:hover {
    font-size:22px;
    font-weight: bold;
}

a.botao5 {
    cursor: help; /*Comportamento do cursor. Criatividade para montar, boniteza, fica ao seu critério */
    text-decoration: none;
}

a.botao5:hover {
    text-decoration: underline;
}

.borda {
    border: 1px solid red; /*Por padrão são em blocos, display */
}

p {
    display: block; 
}


#p1 {
    display:block; /*none desaparece conteúdo, block */
}

#p1:hover {
    display:none;
}

li { /*
/* Removed empty ruleset for li */
    width:33%;
    height: 150px;
    */
}

.azul {
    background: blue;
}

.vermelho {
    background: red;
    visibility: hidden; /*hidden (oculto) e display:none diferença*/
}

.verde {
    background: green;
}

div {
/* Removed empty ruleset for div */
a.botao10 {
    display: inline-block;
    margin-top: 100px;
    width: 50%;
    height: 50px;
    text-align: center;
}

.ex1 {
    margin-top:100px;
    width:800px;
}

.ex2 {
    max-width: 800px;  /*Barra de rolagem se exceder o tamanho da tela. Ideal largura máxima, para se ajustar a tela conform necessidade, responsivo*/   

}

/*Se o display não obedecer, pode ser que seja do tipo inline ou block*/

.container {
    background: blue;
    width: 100%;
    height: 400px;
    position:relative; /*Muda em relação a onde está*/
    border: 2px dashed red;
}

.div1 {
    position: relative; /*Padrão é static*/
    left:60px; /*Espaço pode invaidr outra div, diferente da margem e padding*/
    top:50px;
    z-index:-1; /*Quem está ]á frente ou atrás quando se usa position, somente quando se usa*/

    width: 30%;
    height: 100px;
    background: yellow;
    display:inline-block;
}

.div2 {
    position:sticky;/*Gruda na barra de rolagem, ele não rola mais. Dentro do pai dela (container), da div em que estã*/
    top:0; /*sticky funciona até o top ser 0*/
    width: 30%;
    height: 100px;
    background: white;
    display:inline-block;
}

.div3 {
    width: 30%;
    height: 100px;
    background: red;
    display: inline-block;
    position: absolute; /*Posição absoluta em relação ao ancestral, desde que não seja static*/
    top:150px;
    right: 50%;
}

.whats {
    background: green;
    color:white;
    width: 80px;
    height: 80px;
    position:fixed; /*Posicionamento fixo, em relação ao elemento, tela, ele ficará parado, indepndente se rolar a tela ou não*/
    bottom:10px; /*Posicionamento lá em baixo, 0 a 100*/
    right: 10px;
}

/*Por que usa position? Para fazer efeitos*/

.centro {
    position:absolute; /*tag filha da pai div*/
    color: black;
    top:50%;
    width: 100%;
    text-align: center;
}

img { /*
    position: relative;
    bottom: 104px;
    width: 100%;
    opacity: 0.5;
/* Removed empty ruleset for img */
#exemplo {
    background: blue;
    color:white;
    display: block;
    height: 150px;;
    overflow: auto;/*Só funciona quando usa height, senão não faz sentido. Mostra hidden apenas dentro, for oculta. scroll só aparece quando necessita dentro do tamanho de 150 */
}

.overflow {
    overflow-y:hidden;
}

/*Overflow: comporamento do elemento, barra de rolagem*/

.container2 {
    border:1px solid black;
    overflow:none; /*Se conteúdo transbordae, preenche tamanho, no caso, do texto borda à imagem*/
}

.container2 img {
    float: left; /*Elementos float, fica flutuando dentro, solta do container (div). Espaço é liberado para o outro*/
    margin-right: 20px;
    margin-bottom: 10px;
}

ul {
    background: black;
    padding: 20px;
}

li {
    display: inline-block; 
}

li a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

li a:hover {
    background: #ccc;
    color:black;
}

.login {
    float:right; /*Se fosse á esquerda, os demais elementos se moveriam paara direitamargin-left: 70% daria o mesmo resultado, mas acho que poderia ser gambiarra, dependendo;*/
}

.login a:hover {
    background: orangered;
    color:white;
}

.img1 {
    opacity:1; /*0.0 até 1.0. Padrão é 1*/
}

.img1:hover {
    opacity:0.9;
}

.img2 {
    opacity:1;
}

.img2:hover {
    opacity:0.7;
}

.img3 {
    opacity:1;
}

.img3:hover {
    opacity:0.3;
}

a.botao100 { /*primeiro seletor, depois a classe*/
    padding:15px;
    background: green;
    color:white;
    text-decoration: none;
}

a.botao100:hover {
    opacity: 0.9;
}

.transparente {
    background:blue;
    color: white;
    padding:40px;
    opacity:0.5; /*Transparência também pega texto. Cuidado ao usar em elementos como divs e textos paa não atrapaçhar a visualização dos usuários*/
}

ul {
    background: black;
    list-style-type:none; /*Nenhum estilo na lista, tira as bolinhas, sem text decoration, pois a está dentro */
    padding:0;
    margin-top: 20px;
    overflow: hidden;
}

li {
    float:left;
}

li a, dropbtn {
    display:inline-block;
    color:white;
    padding:14px 16px;
    text-decoration:none;
    text-align: center;
}

li a:hover, .dropdown:hover .dropbtn {
    background: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display:none;
    position: absolute;
    background: white;
    width:150px;
}

.dropdown-content a {
    color: black;
    display:block;
    text-align: left;
    border:1px solid rgb(226, 179, 179);
}

.dropdown-content a:hover{
    color:white;
}

.dropdown:hover .dropdown-content { /*Só com CSS é possível fazer dropdown, sem javascript*/
    display:block;
}

#titulo {
    background: blue;
}

.red {
    padding: 0%;
    border: none;
    background: red;
    font-size: 12;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    background: yellow !important; /*!important ignora por completo as demais prioridades, priorizando essa. Não é ideal usá-la, é mais comopaliativo*/
}

h1.red {
    background: orange; /*Maior prioridade, dois seletores*/
}

/*Especificidade CSS: tipo de seletor. 
Classe sempre tem prioridade ao seletor simples. 
Se fosse dentro do css interno essa xlasse, teria ainda mais prioridade
Identificador é mais forte que classe.
Se passar igual o seletor h1, o último é o que vai valer

tag normal no CSS inline > id > tag normal + class > class > seletor simples]
*/
#gradiente {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(45deg, blue, red, green); /*Gradiente: configurações variadas, inclinacao, direcao, numero de cores*/
    background-image: radial-gradient(red, orange); /*Circular*/
}